body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}


#dashboard {
  display: flex;
  align-items: stretch; /* This is key for equal heights of sidebar and main area */
  width: 100%;
}


/****************************************SIDEBAR*****************************************/


/*********************************CONTENT AREA******************************************/
#main_area {
  width: 100%;
}

.content-area{
    padding: 2rem;
}

.gradient-box {
  width: 200px;
  height: 150px;
  background: linear-gradient(
    to right,
    purple,
    red
  ); /* Apply the linear gradient */
  border: 1px solid #ccc; /* Optional: Add a border for visibility */
  display: flex; /* Optional: For centering content if needed */
  align-items: center; /* Optional: For centering content if needed */
  justify-content: center; /* Optional: For centering content if needed */
  color: white; /* Optional: For text color if content is added */
  font-family: sans-serif; /* Optional: For font styling if content is added */
}
/********************************Background Menu****************************/
