{% extends "menu.html" %}
{% block style %}

.concept-menu {
  background-color: grey;
}

.concept-menu a.active {
  background-color: #A02CDC;
  color: white;
}

{% endblock %}
{% block nav %}
<nav class="menu concept-menu" id="nav_menu">
  {% block menu_item_1 %}<a href="#home" class="active">Block</a>{% endblock %}
  {% block menu_item_2  %}<a href="#news">Inline</a>{% endblock %}
  {% block menu_item_3 %}<a href="#">Inline-Block</a>{% endblock %}
  {% block menu_item_4 %}<a href="#news">Flex</a>{% endblock %}
  {% block menu_item_5 %}<a href="#news">Contents</a>{% endblock %}
  {% block menu_item_6 %}<a href="#news">Grid</a>{% endblock %}
  {% block menu_item_7 %}<a href="#">None</a>{% endblock %}

</nav>
{% endblock %}

