{% extends "base.html" %}
{% block title %}CSS: Background{% endblock %}


{% block style %}
    .concept-container{
        display: flex;
        flex-direction: column;
    }

    .concept{
        min-height: 5rem;
        display:flex;
        justify-content: space-between;
        margin: 2rem;
        padding: 1rem;
    }

    .description, .example-container{
        width: 40%;
    }

    .example{
        min-height: 3rem;
        background-color: #F2F2F2;
        border: 5px inset #A02CDC;
        padding: 1rem;
    }

       .block-item-container{
        background-color: purple;
    }

    .inlineblock-item-container{
        margin: auto;
        display: inline-block;
        width: 50px;
        height: 50px;
        background-color: purple;
    }




{% endblock %}

{% block menu %}
    {% include "menu.html" %}
    {% include "./display/displaymenu.html" %}
{% endblock %}

{% block content %}

<h2>CSS display Property</h2>
<h4>Every HTML element has a default display behavior and understanding the logic behind it is important when working with CSS</h4>
<p><span class="bold">Purpose:</span> controlling layout by showing, hiding, or positioning HTML elements</p>

<div class="concept-container">
    <div>
        <h2>Block-Level Elements</h2>
        <p>Takes up the full-width of a complete row</p>
        <p>Some HTML elements have a default block-level display behavior</p>
    </div>

    <section class="concept">
<!--        <div class="description" >-->
<!--            <div>-->
<!--                <h3>display:inline-block;</h3>-->
<!--            </div>-->
<!--        </div>-->

        <div class="example-container" >
            <h4>Example</h4>
            <p>These elements are not assigned any width properties, but they are still taking 100% of the space in the row.</p>
            <div class="example">
                <div class="block-item-container item-1">&lt;div&gt;</div>
                <p class="block-item-container item-2">&lt;p&gt;</p>
                <div class="block-item-container item-3"></div>
                <div class="block-item-container item-4"></div>
                <div class="block-item-container item-5"></div>
                <div class="block-item-container item-6"></div>
            </div>
        </div>

    </section>
</div>

<div class="concept-container">
    <div>
        <h2>display:inline-block;</h2>
    </div>

    <section class="concept">
<!--        <div class="description" >-->
<!--            <div>-->
<!--                <h3>display:inline-block;</h3>-->
<!--            </div>-->
<!--        </div>-->

        <div class="example" >
            <div class="inline-block">
                <div class="inlineblock-item-container item-1"></div>
                <div class="inlineblock-item-container item-2"></div>
                <div class="inlineblock-item-container item-3"></div>
                <div class="inlineblock-item-container item-4"></div>
                <div class="inlineblock-item-container item-5"></div>
                <div class="inlineblock-item-container item-6"></div>
            </div>
        </div>

    </section>
</div>

{% endblock %}
