<nav class="menu" id="nav_menu">
  <a href="#home" class="active">Block</a>
  <a href="#news">Inline</a>
  <a href="#">Inline-Block</a>
  <a href="#news">Flex</a>
     <a href="#news">Contents</a>
     <a href="#news">Grid</a>
  <a href="#">None</a>
  <a href="javascript:void(0);" class="icon" onclick="changeMenu()">
    <i class="fa fa-bars"></i>
  </a>
</nav>


<script>
function changeMenu() {
  var x = document.getElementById("nav_menu");
  if (x.className === "menu") {
    x.className += " responsive";
  } else {
    x.className = "menu";
  }
}
</script>