{% extends "./base/base.html" %}
{% block title %}HTML{% endblock %}

{% block sidebar %}
    {% set lang_name = "HTML" %}
    {% include "sidebar.html" %}
{% endblock %}

{% block menu %}
    {% include "menu.html" %}
{% endblock %}

{% block content %}
  <h1>HTML</h1>
    <ul>
        <li>stands for HyperText Markup Language</li>
        <li>the standard markup language used to create and structure content on the web</li>
        <li>use tags to define elements like text, images, and links for display in a web browser</li>
        <li>"hypertext" in HTML refers to links that allow users to navigate between web pages and websites. </li>
    </ul>
{% endblock %}