{% extends "./base/base.html" %}
{% block title %}CSS: Background{% endblock %}

{% block sidebar %}
    {% set lang_name = "CSS" %}
    {% include "sidebar.html" %}
{% endblock %}

{% block menu %}
    {% include "menu.html" %}


{####################CONCEPT MENU##############################################}
    {% set concept1 = "Color" %}
    {% set concept1_link = "#color" %}
    {% set concept2 = "Image" %}
    {% set concept2_link = "#image" %}
    {% set concept3 = "Repeat" %}
    {% set concept3_link = "#repeat" %}
    {% set concept4 = "Attachment" %}
    {% set concept4_link = "#attachment" %}
    {% set concept5 = "Background Functions" %}
    {% set concept5_link = "#background-functions" %}
    {% include "./base/lang_menu_base.html" %}
{% endblock %}

{% block content %}
  <h2>CSS Background Properties</h2>
<p><span class="bold">Purpose:</span> to add background effects to elements</p>
{% endblock %}

