<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/525fc14ecf.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="dashboard">
        {% include "sidebar.html" %}
        <div id="main_area" >
            <div class="menu_area" >
                {% block menu %}

                {% endblock %}
            </div>
            <div class="content_area" >
                {% block content %}

                {% endblock %}

            </div>

        </div>
    </div>
</body>
</html>
