<nav class="menu" id="nav_menu">
  <a href="#home" class="active">{% block HTML_link %}HTML{% endblock %}</a>
  <a href="#news">{% block CSS_link  %}CSS{% endblock %}</a>
  <a href="#contact">{% block JavaScript_link %}JavaScript{% endblock %}</a>
  <a href="#">{% block Python_link %}Python{% endblock %}</a>
  <a href="javascript:void(0);" class="icon" onclick="changeMenu()">
    <i class="fa-solid fa-bars"></i>
  </a>
</nav>

<script>
function changeMenu() {
  var x = document.getElementById("nav_menu");
  if (x.className === "menu") {
    x.className += " responsive";
  } else {
    x.className = "menu";
  }
}
</script>